@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.header {
  display: flex;
}

.site-layout-content {
  background: #fff;
  min-height: 80vh;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}

.content {
}

.footer {
  text-align: center;
}